@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600,800,italic,600);

*, *h1, *h2,*h3,*h4,*p{
    padding: 0;
    margin: 0;
}

a {
    color: #403F3D;
    text-decoration: none;
}

body{
    margin: 0;
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
    color: #403F3D;
}


.body_background{
    background-color: #E1D4C9;
    max-width: 1440px;
    margin: 0 auto;
}
 
/* --------------- HEADER CONTAINER----------------- */

.header {
    max-width: 1440px;
}
.header_wrapper {
    max-width: 1360px;
    margin: auto;
}


.wrapper {
    padding: 20px 0px 13px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
}
.header_navigation {
    margin: 0px 0px 11px 35px;
}
.nav_header{
    padding-right: 36px;
    font-weight: 600;
    color: #403F3D;
}

.header_menu {
    margin: 0 0 7px 0px;
    font-weight: 600;
    color: #403F3D;
    display: flex;
}
.word_menu {
    color: #403F3D;
    padding-right: 8px;
}

/* --------------- HERO CONTAINER----------------- */

.hero{
    margin: 0 0 102px 0;
    background-image: url("/images/hero_background.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 40px;
    height: 644px;
}

.premiun_container {
    max-width: 530px;
    padding: 100px 0 0 100px;
}
.premium_main_text {
    display: flex;
    flex-direction: column;
    
}
.Enjoy_premium {
    margin: 0 0 42px 0;
    font-size: 72px;
    font-weight: 600;
    line-height: 75.6px;
    color: #E1D4C9;  
}
.span_italic {
    font-style:italic;
    color: #B0907A;
}
.second_premiun_text {
    margin: 0 0 40px 0;
    color: #E1D4C9;
    
}
.menu_button_coffe {
    height: 64px;
    width: 200px;
    border: none;
    border-radius: 100px;
    background-color: #E1D4C9;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;

}


/* --------------- FAVORITE COFFEE----------------- */

.main {
}
.favorite_coffee {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 1360px;
}
.favorite_coffee_main_text {
    margin: 0 0 40px 0;
    font-size: 60px;
    font-weight: 600;
    line-height: 75px;
}

.favorite_coffee_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.favorite_coffee_slider{
    max-width: 35%;
}

.left_coffee_bottun {
}
.drinks_container {
}
.favorite_drinks_text {
    margin: 0 0 0 0;
    text-align: center;

}
.favorite_drinks_name {
    margin: 12px 0 0 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
}
.favorite_drinks_description {
    margin: 16px 0 0 0;
}
.favorite_drinks_cost {
    margin: 16px 0 0 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
}
.input_radio{
    margin: 30px 0 0 0;
}
.radio_point{
    margin: 0 35px 0 0
}

/* --------------- ABOUT----------------- */

.about{
    max-width: 1360px;
    margin: 0 auto;
}


.about_info{
    margin: 90px 0 40px 0;
    font-weight: 600;
    font-size: 60px;
    line-height: 75px;
}
.about_pictures{
    margin: 0 0 0 0;
    column-count: 2;
    column-gap: 40px;
}
.about_image{
    margin: 0 0 0 0;
}

.about_image1{
    margin: 0 0 32px 0;
}
.about_image2{
    border-radius: 20px;
    margin: 0 0 0 0;
}
.about_image3{
    border-radius: 20px;
    margin: 0 0 32px 0;
}
.about_image4{
    border-radius: 20px;
    margin: 0 0 0 0;
}


/* --------------- MOBILE APP ----------------- */


.mobile_app {
}
.mobile_app_container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    max-width: 1360px;
    margin: 0 auto;
    margin-top: 94px;
}
.mobile_app_information {
    max-width: 630px;
}
.mobile_main_text {
    margin: 0px 0 40px 0;
    font-size: 60px;
    font-weight: 600;
    line-height: 75px;
}

.mobile_second_text {
    margin: 0px 0 40px 0;
}
.mobile_app_buttons {
    display: flex;
    padding: 0 0 8px 0px;
}
.mobile_app_store {
    display: flex;
    align-items: center;
    margin: 0px 16px 0 0;
    border: 1px solid black;
    border-radius: 100px;
    width: 200px;
    height: 64px;
}
.apple_icon {
    padding: 6px 14px 0 22px;
}
.available_text {
    padding: 1px 0 0 0;
}
.available_on {
    margin: 0 0 0 0;
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
}
.app_store {
    margin: 0 0 0 0;
}
.mobile_google_play {
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 100px;
    width: 200px;
    height: 64px;
}
.google_icon {
    padding: 6px 8px 0 22px;
}
.mobile_image {
}